@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type='radio'] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -.7em;
}

sub {
  bottom: -.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

/* .cf { *zoom: 1; } */

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/* common class starts */
.wrapper {
  max-width: 1292px;
  width: 94.56%;
  margin: 0 auto;
}

.color {
  color: #fff;
}

.colorgrey {
  color: #757376;
}

.capital-text::first-letter { text-transform: capitalize; }

.position-fixed{position: fixed;}
.color-black{color: #000;}

/* common class ends */
/*=================================
  Header styling starts here
=================================*/

header .wrapper { width: 100%; }

header .wrapper ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #838282;
  opacity: 0.8;
  border-bottom: 10px solid #076598;
 position: absolute;
 bottom: 42%;
}

header .wrapper ul a {
  padding: 15px;
  color: #fff;
}

header .wrapper ul a:hover { color: #076598; }
a::first-letter { text-transform: capitalize; }

nav figure { position: relative; }
nav figure img { width: 100%;}

nav h1 {
  position: absolute;
  top: 10%;
  left: 5%;
  font-size: 32px;
}

nav span {
  position: absolute;
  top: 25%;
  left: 5%;
}

/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/

/* bookstore 2 styling starts */

.bookstore .wrapper { width: 90%; }

.bookstore {
  background-color: #fff;
  padding-bottom: 50px;
}

.bookstore h2 {
  padding: 63px 0px 28px;
  font-size: 23px;
}

.bookstore p {
  width: 100%;
  padding-bottom: 48px;
}

.bookstore .image-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bookstore .image-list,
.image-list figure {
  width: 100%;
}

.image-list li { width: 24%; }

.image-list figcaption {
  text-align: center;
  padding: 10px 0px 66px;
}

.bookstore .pages-list {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 40px;
}

.bookstore .pages-list li { width: 5%; }

.pages-list li a {
  padding: 10px;
  width: 41%;
  background: #b0b0b0;
  text-align: center;
}

.pages-list li a:hover {
  background: #076598;
  color: #fff;
}

/* bookstore styling ends */

.helpsection { width: 100%; }
.helpsection div h3 {
  font-size: 23px;
  padding: 42px 0px 10px;
}

.para { padding: 0px; }

.helpsection {
  display: flex;
  background: #076598;
}

.helpsection figure {
  width: 38%;
  padding: 50px 40px 50px 70px;
}

.helpsection a {
  border: 2px solid #fff;
  color: #fff;
  text-align: center;
  width: 12%;
  margin-bottom: 30px;
  padding: 12px 16px 12px;
}

.helpsection a:hover { 
  color: #076598;
  background: #fff;
}

/* bookstore styling ends here */



/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/

footer {
  background: #333;
  text-align: center;
}

footer p { padding: 10px; }





/*=================================
  footer styling ends here
=================================*/

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {}